<mat-card class="cc__card">
  <mat-card-header>
    <img mat-card-avatar [src]="skyIcon">
    <mat-card-title>{{cityInfo.name}}</mat-card-title>
    <mat-card-subtitle>
      <div>{{cityInfo.weather[0].description | titlecase}}</div>
    </mat-card-subtitle>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="cc__content-row">
      <span class="cc__content-label">Average temp:</span>
      <span class="cc__content-txt">{{averageTemp}}ºC</span>
    </div>
    <div class="cc__content-row">
      <span class="cc__content-label">Wind of:</span>
      <span class="cc__content-txt">{{ cityInfo.wind.speed }} m/s</span>
    </div>
    <div class="cc__content-row">
      <span class="cc__content-label">Wind direction:</span>
      <span class="cc__content-txt">{{ degToCompass }}</span>
    </div>
  </mat-card-content>
  <!-- <i mat-card-image class="fas fa-cloud"></i> -->
  <!-- <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>
