@import "./src/scss/0_settings/0_variables.scss";

$card-content-txt-val: $font-para-1;

.cc {
  &__card {
    width: 200px;
  }
  &__content-row {
    display: flex;
  }
  &__content-label {
    flex: 2;
  }
  &__content-txt {
    flex: 1;
    font-family: $card-content-txt-val;
    text-align: end;
  }
}
