
// Colors
// -----------------------------------------------------------

$color-alizarin-crimson: #DF2532;
$color-whitesmoke: whitesmoke;


// Fonts
// -----------------------------------------------------------

$font-para-1: 'Oswald', sans-serif;