.h {
  &__card-holder {
    display: flex;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    flex-wrap: wrap;
  }

  &__card {
    margin: 10px 0;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}