<div class="h__container">
  <div class="h__card-holder">
    <ng-container *ngIf="($citiesInfo | async) as cities; else loadingSpinner">
      <app-city-card *ngFor="let city of cities" [cityInfo]="city" (click)="getForecast(city.name)" class="h__card">
      </app-city-card>
    </ng-container>
  </div>
  <div class="h__forecast-holder">
    <ng-container *ngIf="$cityForecast | async as forecast">
      <app-city-forecast [@fadeInOut] [forecastInfo]="forecast">
      </app-city-forecast>
    </ng-container>
  </div>

</div>

<ng-template #loadingSpinner>
  <mat-progress-spinner mode="indeterminate"> </mat-progress-spinner>
</ng-template>
