.h {
  &__card-holder {
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    min-height: 300px;
  }

  &__card {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}